/* css styles */

.roundedimg {
    border-radius: 80%;
    fig-align: center;
  }

.centered {
    text-align: left !important;
    fig-align: left !important;
}

a {
  font-size: 12pt /* Adjust this value to your preferred font size */
}

.icon-list {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.icon-list i {
  font-size: 1.3em;
  width: 20px; /* Ensure a fixed width for all icons */
  text-align: center; /* Align the icon within this width */
  vertical-align: middle;
  position: relative;
  margin-right: 10px;
}

.icon-list a {
  text-decoration: none;
}

.icon-list a:hover {
  text-decoration: underline;
}

.publication-title {
    color: #B51D2A; /* Use your preferred shade of red */
    font-size: 20px;
}

.publication-title a {
    color: #B51D2A; /* Use your preferred shade of red */
    font-size: 20px;
    text-decoration: none;
}

.publication-title a:hover {
  text-decoration: underline; /* Underline on hover for publication-title links */
}

.publication-author {
    font-size: 14px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 40px; /* This will add extra space specifically after the last nav item */
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: square;
}

/* Grants header styling */
.grants-header {
  border-bottom: 1px solid #dee2e6;
  padding-top: 0px; 
  padding-bottom: 0px;
  margin-bottom: 12px;
  align-items: center;
}

.grants-header > div {
  display: flex;
  align-items: center;
}


/*-- scss:defaults --*/
